{% extends "base.html" %}

{% block title %}
<p class="title">Your Account</p>
<p class="subtitle"></p>


{% endblock %}


{% block content %}




<div class="box content is-medium">
    <div class="columns">

        <div class="column is-one-third">
            <h3>Login: </h3>
        </div>
        <div class="column">
            <p>{{user.login}}</p>
        </div>
    </div>

    <div class="columns">

        <div class="column is-one-third">
            <h3>Email: </h3>
        </div>
        <div class="column">
            <p>{{user.email}}</p>
        </div>
    </div>

    <div class="columns">

        <div class="column is-one-third">
            <h3>Phone: </h3>
        </div>
        <div class="column">
            <p>{{user.phone}}</p>
        </div>
    </div>

    <br>

    <div class="columns">

        <div class="column is-one-third">
            <h3>{{user.date_created}}</h3>
        </div>
    </div>

    <div class="columns">

        <div class="column is-four-fifths">
        </div>
        <div class="column is-one-third">
            <a href="{% url 'update_profil' %}">
                <button class="button is-warning">Update</button>
            </a>
        </div>
    </div>
    


</div>


{% endblock %}